.category-section {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: baseline;
  padding-bottom: 20px;
}

.category-label {
  width: 120px;
  padding: 0;
}

.category-list {
  display: flex;
  flex-direction: column;
  width: 200px;
  border-left: 1px solid var(--text);
  padding-left: 20px;
  margin-left: 20px;
}

.category-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
  max-height: 450px;
  padding: 10px !important;
}

.category-selected {
  color: var(--yellow);
}

.category-hidden-list {
  display: none;
}
