/*currently selected image*/
.main-image {
  width: 300px;
  height: 300px;
}

.selected-image,
.secondary-image:hover {
  border: 2px solid var(--yellow);
}

/*images on the side of the big image, contains several secondary-image*/
.side-images {
  display: flex;
  flex-direction: column;
  /* align-content: space-between; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around;
  max-height: 300px;
  width: 150px;
  margin: 0 20px 0 10px;
}

/*small images one can select*/
.secondary-image {
  width: 80px;
  height: 80px;
  border: 2px solid var(--text);
}

/*all img inside of side images*/
.side-images img {
  margin-bottom: 10px;
  /* margin-left: 10px; */
}

/*contains both image and subimages*/
.image-container {
  display: flex;
  flex-direction: row;
}

/*image subtitle*/
.main-image-subtitle {
  margin-top: 20px;
}

.hover-image {
  transition: all 0.2 ease-in-out;
  margin-left: 100px;
  position: absolute;
  top: -10px;
  display: none;
  max-width: 160px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.toggle-image {
  text-decoration: underline;
  position: relative;
}

.toggle-image:hover {
  cursor: pointer;
}

.media-container {
  padding: 20px 0;
}
