.row-table {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: top;
  margin-bottom: 5px;
}

.label-table {
  width: 150px;
}

.content-table {
  max-width: 200px;
  /* display: flex;
  flex-direction: column; */
}

.content-inner {
  display: flex;
  flex-direction: row;
}
