@import url("https://fonts.googleapis.com/css?family=Montserrat");

html {
  /*palette*/
  --text: wheat;
  --backgroundRGB: 36, 58, 24;
  /* --backgroundRGB: 35, 33, 27; */
  --background: rgba(var(--backgroundRGB), 0.75);
  --yellow: #d3ba4e;
  --highlight: #6d9930;

  background-color: var(--background);
}

::selection {
  background: var(--highlight); /* WebKit/Blink Browsers */
}

body {
  /*remove basic padding from document*/
  padding: 0;
  margin: 0;

  height: 100vh;

  font-family: "Montserrat", arial;
  color: var(--text);
  font-size: 16pt;
  font-weight: 100;

  background-image: url("./bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-position: left top; */
}
