@import url("https://fonts.googleapis.com/css?family=Montserrat");

html {
  /*palette*/
  --text: wheat;
  /* --backgroundRGB: 36, 58, 24; */
  --backgroundRGB: 35, 33, 27;
  --background: rgba(var(--backgroundRGB), 0.7);
  --yellow: #d3ba4e;
  --green: #415a10;

  background-color: var(--background);
}

::selection {
  background: var(--green); /* WebKit/Blink Browsers */
}

body {
  /*remove basic padding from document*/
  padding: 0;
  margin: 0;

  height: 100vh;

  font-family: "Montserrat", arial !important;
  color: var(--text);
  font-size: 16pt !important;
  font-weight: 100;

  background-image: url("./images/backgrounds/bg2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: -2;
  /* background-position: left top; */
}
