.label-browse {
  padding-left: 20px;
}

.entry-browse {
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--yellow);
}

.entry-browse:hover {
  background-color: var(--highlight);
  cursor: pointer;
}
