.category-label {
  /* width: 200px; */
  padding: 20px;
}

.category-label:hover {
  cursor: pointer;
}
.category-label::before {
  content: "+";
  margin-right: 20px;
}
.category-list {
  display: block;
}
.category-link {
  padding-left: 20px;
}
.category-link:hover {
  cursor: pointer;
}

.category-list-hidden {
  display: none;
}

.categories-container {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
