select,
input {
  width: 100%;
  font-size: 18pt;
  color: var(--text);
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--text);
}

input[type="submit"] {
  margin-top: 30px;
  border: 1px solid var(--text);
}

select option {
  background-color: var(--background);
}

select:focus,
input:focus {
  border: 0;
  outline: none;
  border-bottom: 1px solid var(--yellow);
}

input[type="submit"]:focus {
  border: 1px solid var(--yellow);
}
