.latinName {
  font-style: italic;
}

.uses {
  margin-top: 50px;
}

.table-container {
  display: flex;
  flex-direction: column;
}

.row-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}

.label-table {
  width: 150px;
  padding-right: 30px;
}

.content-table {
  width: 300px;
}
