/*buttons for edit and delete*/
.modify-plant {
  display: flex;
  flex-direction: row;
  max-width: 200px;
}

/*header containing title and buttons*/
.desc-header {
  width: 100%;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

/*contains name and latin name*/
.plant-names {
  display: flex;
  flex-direction: column;
}

/*makes the plant view wrap on shrink*/
.plant-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

/*entry in a list of plants*/
.entry-list {
  display: flex;
  align-items: center;
  color: var(--yellow);
  width: 250px;
}

.entry-list:hover {
  background-color: var(--green);
  cursor: pointer;
}

.list-container {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.link:hover {
  color: var(--yellow);
  cursor: pointer;
}

.image-list-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--background);
}
