.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  color: wheat;
}

.nav-element {
  padding: 20px 20px 5px 20px;
  text-decoration: none;
}

.nav-element:hover {
  cursor: pointer;
  background-color: #90ca40;
  color: inherit;
}

.nav-element:visited {
  color: inherit;
}

.foot {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15pt;
}
