.latinName {
  font-style: italic;
}

.commonName {
  font-size: 25pt;
  margin-bottom: 50px;
  font-weight: bold;
  color: darkgreen;
}

td.sub-title {
  width: 100px;
}

tr td:last-child {
  width: 300px;
}

td.label + td {
  width: 400px;
}

td > input {
  width: 93.5%;
}
