select,
input,
textarea {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: var(--text);
  background-color: transparent;
  width: 90%;
  border: 0;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease;
  margin-bottom: 20px;
  font-size: 16pt !important;
  font-style: normal !important;
  font-family: "Montserrat", arial !important;
  padding: 0 7px !important;
}

.shortForm {
  width: 40% !important;
}

.createForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 0;
}

textarea {
  resize: none;
  height: 6.5em !important;
  border: 1px solid var(--text);
}

select:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  cursor: pointer;
  background-color: var(--green);
  border-bottom: 1px solid transparent !important;
}

input[type="text"]:hover,
textarea:hover {
  background-color: var(--green) !important;
  border-bottom: 1px solid transparent !important;
}

input[type="text"],
input[type="password"] {
  font-style: italic;
  border-bottom: 1px solid var(--text) !important;
  height: 1.5em;
}

input[type="submit"],
input[type="button"] {
  width: 150px;
  padding: 7px 0;
  margin: 0;
  border: 0;
  background-color: var(--background);
}

select {
  background-color: var(--background);
}

select option {
  background-color: var(--background);
}

select:focus,
input:focus,
textarea:focus {
  border: 0;
  outline: none;
  border-bottom: 1px solid transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
  background-color: var(--green) !important;
}

textarea:focus {
  border: 1px solid transparent;
}

.errormsg {
  color: #bb0000;
  font-size: 12pt;
}

.error {
  color: #bb0000;
}

.caret {
  fill: var(--text) !important;
}

.select-wrapper ul {
  background-color: var(--green) !important;
}

.colour-select option {
  background-color: pink !important;
}

.dropdown-content,
.dropdown-content span {
  color: var(--text) !important;
}

.yellowBackground {
  background: yellow;
}
.orangeBackground {
  background: orange;
}
.redBackground {
  background: red;
}
.purpleBackground {
  background: purple;
}
.blueBackground {
  background: blue;
}
.cyanBackground {
  background: cyan;
}
.greenyellowBackground {
  background: greenyellow;
}
.greenBackground {
  background: green;
}
.saddlebrownBackground {
  background: saddlebrown;
}
.blackBackground {
  background: black;
}
.grayBackground {
  background: gray;
}
.whiteBackground {
  background: white;
}
