.input,
.button,
.textArea,
.search,
.select-wrapper input {
  display: block !important;
  background-color: transparent !important;
  border: 0;
  transition: all 0.2s ease;
  padding: 0 7px !important;
  color: var(--text);
  font-size: 16pt !important;
  height: 1.5em !important;
  width: 90% !important;
  font-family: "Montserrat", arial !important;
}

.createForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 0;
}

.input,
.search,
.select-wrapper input {
  border-bottom: 1px solid var(--text) !important;
}

.select-wrapper input {
  width: 90% !important;
}

.selectColour option {
  color: transparent;
}

.input {
  width: 85% !important;
}

.textArea {
  height: 5em !important;
  resize: none;
  padding: 5px 7px !important;
}

.button {
  padding: 7px !important;
  width: 200px !important;
  margin: 5px 10px;
  height: 2em !important;
}

.button:hover,
.select-wrapper input:hover {
  cursor: pointer;
}

.input:hover,
.button:hover,
.textArea:hover,
.select-wrapper input:hover {
  background-color: var(--green) !important;
}

.input:focus,
.search:focus,
.button:focus,
.textArea:focus,
.selectMulti:focus {
  outline: none !important;
  box-shadow: 0 0 0 0 transparent !important;
}

.textArea,
.button {
  background-color: rgba(var(--backgroundRGB), 0.6) !important;
}

.shortForm {
  width: 40% !important;
}

.select-wrapper ul .selected {
  background-color: var(--green) !important;
}

.select-wrapper ul li:hover {
  background-color: var(--green) !important;
}

.caret {
  fill: var(--text) !important;
  position: relative;
  right: 20px !important;
}

.search {
  margin-bottom: 20px !important;
  width: 100% !important;
}

.dropdown-content {
  max-width: 300px;
  overflow-x: hidden;
}

.dropdown-content,
.dropdown-content span {
  color: var(--text) !important;
}

.errormsg {
  color: #bb0000;
  font-size: 12pt;
}

.error {
  color: #bb0000;
}

.dropdown-content {
  background-color: rgb(var(--backgroundRGB)) !important;
}
