.select,
.input,
.button,
.textArea,
.select-wrapper input {
  display: block !important;
  background-color: transparent !important;
  border: 0;
  transition: all 0.2s ease;
  padding: 0 7px !important;
  color: var(--text);
  font-size: 16pt !important;
  height: 1.5em !important;
  width: 90% !important;
}

.input,
.select,
.selectMulti,
.select-wrapper input {
  border-bottom: 1px solid var(--text) !important;
}

.select-wrapper input {
  width: 100% !important;
}

.input {
  width: 85% !important;
}

.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.select:hover,
.input:hover,
.button:hover,
.textArea:hover,
.selectMulti:hover {
  background-color: var(--green) !important;
}

.select:focus,
.input:focus,
.button:focus,
.textArea:focus,
.selectMulti:focus {
  outline: none !important;
  box-shadow: 0 0 0 0 transparent !important;
}

.textArea,
.button {
  background-color: rgba(var(--backgroundRGB), 0.6) !important;
}

.shortForm {
  width: 40% !important;
}

.caret {
  fill: var(--text) !important;
  position: relative;
}

.custom-caret {
  display: inline;
  font-family: "Webdings";
  font-size: 11pt !important;
  position: relative;
  right: 35px;
}
/* select,
input,
textarea {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: 0;
  border-bottom: 1px solid transparent;
  margin: 0px !important;
  font-style: normal !important;
  font-family: "Montserrat", arial !important;
}

.createForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 0;
}

textarea {
  resize: none;
  height: 6.5em !important;
  background-color: rgba(var(--backgroundRGB), 0.6) !important;
  padding: 7px !important;
  width: 95% !important;
}

input[type="text"],
input[type="password"] {
  font-style: italic;
  border-bottom: 1px solid var(--text) !important;
  height: 1.5em !important;
  width: 95%;
}

input[type="submit"],
input[type="button"] {
  width: 150px !important;
  margin: 0;
  background-color: var(--background);
  height: 2em !important;
}

select {
  border: 0 !important;
  border-bottom: 1px solid var(--text) !important;
  border-radius: 0 !important;
  height: 1.5em !important;


}

.selectVanilla {
  display: block;
}

select option {
  background-color: var(--background);
}

input[type="text"]:hover {
  background-color: var(--green) !important;
  border-bottom: 1px solid transparent !important;
}

textarea:hover {
  background-color: var(--green) !important;
}

select:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  cursor: pointer;
  background-color: var(--green);
}

select:focus,
input:focus,
textarea:focus {
  border: 0;
  outline: none !important;
  border-bottom: 1px solid transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
  background-color: var(--green) !important;
}

textarea:focus {
  border: 1px solid transparent !important;
}

.input-field {
  margin: 0 !important;
}

.errormsg {
  color: #bb0000;
  font-size: 12pt;
}

.error {
  color: #bb0000;
}

.shortForm {
  width: 40% !important;
}




.dropdown-content {
  max-width: 300px;
  overflow-x: hidden;
}

.dropdown-content,
.dropdown-content span {
  color: var(--text) !important;
}

.search {
  margin-bottom: 20px !important;
} */
