.label-list {
  padding-left: 20px;
}

.entry-list {
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--yellow);
}

.entry-list:hover {
  background-color: var(--highlight);
  cursor: pointer;
}
